.container-home {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
  }

  .container-home h1 {
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
  }

.container-home p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 20px;
    background-color: gray;
  }
  .container-home h2 {
    color: grey;


  }
  .container-home a {
    padding: 0.5em;
    border-radius: 0.9em;
    background-color: orange;
    color: white;
    text-decoration: none;

  }
