/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/

.nav{
    grid-area: nav;
    background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav li{

    padding: 10px;

}

.nav a {
    display: block;
    margin-left: 4em;
    margin-right: 3 em;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    transition: all 300ms;
    text-transform: uppercase;



}


.nav a:hover{
    transform: scale(1.1, 1.1);
}


