*{
  font-family: 'Roboto', sans-serif;
}




@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

}
